
    body  {
        background-image: url("https://praxilabs.com/en/blog/wp-content/uploads/2025/07/Important-Physics-Equations-in-History-1.webp");
    }
    h1{
        color: aqua;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
   
    ul{
        color:aqua;
        list-style-type:georgian;
    }
   
    input[type ="submit"] {
        color:purple;
        background-color: aqua;
    }
    .underline {
        text-decoration:underline;
    }
    .background{
        background-color: rgb(208, 0, 255);
    }
    div{
        background-color:rgb(189, 222, 135);
        border: red thick solid;
    }
    p{
        color:aliceblue;
        background-color:blueviolet
    }

    span{
        background-color: cadetblue;
        font-size: larger;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }